<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" >
    <test name="Test" parallel="classes" thread-count="3">
        <classes>
            <class name="resources.CoursesPage"/>
            <class name="resources.VideosPage"/>
<!--            <class name="resources.InterviewGuidePage"/>-->
<!--            <class name="resources.PracticePage"/>-->
<!--            <class name="resources.BlogPage"/>-->
<!--            <class name="resources.AboutPage"/>-->
<!--            <class name="resources.ContactPage"/>-->
<!--            <class name="resources.RegisterPage"/>-->
        </classes>
    </test>
</suite>